DATABASE_URL=sqlite:///./finance.db
PLAID_CLIENT_ID=69b955e2f81d5e000df2e1d1
PLAID_SECRET=8b76114f1219b19caf8b36ddb68203
PLAID_ENV=sandbox
UPLOADS_DIR=./uploads
TESSERACT_CMD=C:\Program Files\Tesseract-OCR\tesseract.exe
CORS_ORIGINS=["http://localhost:5173","http://127.0.0.1:5173"]
SECRET_KEY=change-me-to-something-random-in-prod
MAX_UPLOAD_SIZE_MB=10
